<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Book">
    <insert id="save" parameterType="book" useGeneratedKeys="true" keyProperty="id">
        insert into book_table(sellerId, bookName, unitPrice, unitsInStock, author, descript, publisher, category,
                               conditions, fileAttached)
        values (#{sellerId}, #{bookName}, #{unitPrice}, #{unitsInStock}, #{author}, #{descript}, #{publisher},
                #{category}, #{conditions}, #{fileAttached})
    </insert>

    <insert id="saveFile" parameterType="bookFile">
        insert into book_file_table(originalFileName, storedFileName, bookId)
        values (#{originalFileName}, #{storedFileName}, #{bookId})
    </insert>

    <insert id="saveCart" parameterType="cart">
        insert into cart_table(bookId, customerId, bookCount)
        values (#{bookId}, #{customerId}, #{bookCount})
    </insert>

    <insert id="saveOrder" parameterType="order">
        insert into order_table(bookId, customerId, sumCount, sumPrice, customerName, payConditions, shipmentConditions, address, email)
        values (#{bookId}, #{customerId}, #{sumCount}, #{sumPrice}, #{customerName}, #{payConditions}, #{shipmentConditions}, #{address}, #{email})
    </insert>

    <select id="findCart" parameterType="Long" resultType="cart">
        select *
        from cart_table
        where customerId = #{customerId}
    </select>

    <select id="selectList" resultType="books">
        select *
        from book_file_table f,
             book_table b
        where f.bookId = b.id;
    </select>

    <select id="selectFile" parameterType="Long" resultType="bookFile">
        select *
        from book_file_table
        where bookId = #{id};
    </select>

    <select id="findById" parameterType="Long" resultType="books">
        select *
        from book_file_table f,
             book_table b
        where f.bookId = b.id
          and b.id = #{bookId};
    </select>

    <select id="selectAll" parameterType="Long" resultType="books">
        select b.id, b.bookName, sum(c.bookCount) as 'unitsInStock', b.unitPrice, b.sellerId
        from cart_table c,
             book_table b
        where c.customerId = #{loginNum}
          and b.id = c.bookId
        group by c.bookId;
    </select>

    <select id="findSum" parameterType="Long" resultType="result">
        select sum(c.bookCount * b.unitPrice) as 'sumPrice', sum(bookCount) as 'sumCount'
        from book_table b,
             cart_table c
        where c.customerId = #{id}
          and b.id = c.bookId;
    </select>

    <!--    select *-->
    <!--    from book_table b,-->
    <!--    cart_table c-->
    <!--    where b.sellerId = 2-->
    <!--    and b.id = c.bookId;-->

</mapper>














