<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Book">
    <insert id="save" parameterType="book" useGeneratedKeys="true" keyProperty="id">
        insert into book_table(bookName, unitPrice, unitsInStock, author, descript, publisher, category, conditions, fileAttached)
        values (#{bookName}, #{unitPrice}, #{unitsInStock}, #{author}, #{descript}, #{publisher}, #{category}, #{conditions}, #{fileAttached})
    </insert>

    <insert id="saveFile" parameterType="bookFile">
        insert into book_file_table(originalFileName, storedFileName, bookId)
        values (#{originalFileName}, #{storedFileName}, #{bookId})
    </insert>

    <insert id="saveCart" parameterType="cart">
        insert into cart_table(bookId, bookCount)
        values (#{bookId}, #{bookCount})
    </insert>

    <select id="selectList" resultType="books">
        select * from book_file_table f, book_table b where f.bookId = b.id;
    </select>

    <select id="selectFile" parameterType="Long" resultType="bookFile">
        select * from book_file_table where bookId=#{id};
    </select>

    <select id="findById" parameterType="Long" resultType="books">
        select * from book_file_table f, book_table b where f.bookId = b.id and b.id = #{bookId};
    </select>
    <select id="selectAll" resultType="books">
        select b.id, b.bookName, sum(c.bookCount) as 'bookCount', b.unitPrice
        from cart_table c,
             book_table b
        where b.id = c.bookId
        group by c.bookId;
    </select>

</mapper>














